.profile {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #0D0000;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    align-items: center;
    margin-top: 48px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #75BFB8;
}

.name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #223440;
}

.tag {
    color: #8C8C8C;
    font-size: 16px;
    margin-bottom: 10px;
}

.location {
    color: #8C8C8C;
    font-size: 16px;
    margin-bottom: 14px;
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin-top: 24px;
    background-color: #E4EAF2;
    border-top: 1px solid #e4e4e4;
}

.stats li {
    width: 33%;
    padding: 10px 0;
}

.stats li span {
    display: block;
}

.stats li span:first-child {
    font-size: 14px;
color: #8C8C8C;
}

.stats li span:last-child {
    font-size: 18px;
    font-weight: bold;
    color: #223440;
}